<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myexample.dynamic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
         <activity
            android:name="com.myexample.dynamic.activity.DynamicActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.myexample.dynamic.activity.DynamicDetailActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" >
                
        </activity>
        
    </application>

</manifest>
